.listaDeProdutos{
    display: flex;
    max-width: 95vw;
    margin: auto;
    overflow-x: scroll;
    margin-bottom: 35px;  
}
.homeContainer{
    padding: 1%;
}
.listaDeProdutos::-webkit-scrollbar{
  height: 10px;
}
.listaDeProdutos::-webkit-scrollbar-thumb:horizontal{
    background-color: rgb(211, 211, 211);
    border-radius: 30px;
}
.textField{
    margin: 80px;
   
}
.headerHomeBody{
   
}
.BoxStyle{
    padding: 20px;
    width: 100%;
}
@media (max-width:700px) {
    .BoxStyle{
        padding: 1px;
    }
    .headerHomeBody{
        height: 80px;
    }
    .homeContainer{
        padding: 4%;
    }
}