.bodyLogin{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    padding: 20px;    
}
.loginContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.imgLogin{
    height: 50%;
}
.imgLogin{
    margin: 100px 0px;
}
.imgCadastro{
    margin: 1px 0px;
}
.loginLinkCadastro{
    cursor: pointer;
    transition: 0.5s;

}
.loginLinkCadastro:hover{
    transition: 0.5s;
    color: #d32f2f;
}
.inputText{
    padding: 25px;
    border-style: none;
    margin-bottom: 10px;
}
@media (max-width:800px) {
    .loginContainer{
        flex-direction: column;
    }
    .bodyLogin{
        width: 95%;
        margin: auto;
        padding: 0px;
    }
    .btnLogin{
        padding: 30px;
    }
    .imgCadastro{
        margin: 30px 0px;
    }
}