.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.lista{
  width: 100%;
  margin: auto;
  overflow-x: scroll;
}
.lista::-webkit-scrollbar{
  padding: 0px 30px;
  height: 11px;
}
.lista::-webkit-scrollbar-thumb:hover{
  transition: 1s;
  background-color: #61dafb;
}
.lista::-webkit-scrollbar-thumb:horizontal{
  transition: 1s;
  border-radius: 10px;
  background-color: #fb61d4;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  
  padding: 2%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
